<div id="accordion">
    <div class="card">
        <div class="card-header">
          <button class="btn card-link text-lgreen" data-toggle="collapse" href="#ongoing">
            Ongoing Training
          </button>
        </div>
        <div id="ongoing" class="collapse show" data-parent="#accordion">
          <div class="card-body text-dgreen">
            • Harvard, CS50x<br />
            • Pluralsight, ITIL® Foundation: Core Concepts
          </div>
        </div>
      </div>
  <div class="card">
    <div class="card-header">
      <button class="btn card-link text-lgreen" data-toggle="collapse" href="#frontEnd">
        Front End Development
      </button>
    </div>
    <div id="frontEnd" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        • Pluralsight, Angular: The Big Picture<br />
        • Codecademy, jQuery<br />
        • Codecademy, JavaScript<br />
        • Codecademy, HTML/CSS<br />
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#backEnd">
        Back End Development
      </button>
    </div>
    <div id="backEnd" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        • Pluralsight, Play by Play: Understanding API Functionality Through Swagger<br />
        • Microsoft Virtual Academy, SQL Fundamentals<br />
        • Jamie King, C# Threading
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#security">
        Security
      </button>
    </div>
    <div id="security" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        • Pluralsight, Cyber Security Awareness: Malware Explained<br />
        • Pluralsight, Building Your Cyber Security Vocabulary<br />
        • Pluralsight, Cyber Security Awareness: The Importance of Identity Protection<br />
        • Pluralsight, Cyber Security Awareness: Social Engineering<br />
        • Pluralsight, Cyber Security While Traveling<br />
        • Pluralsight, Cyber Security Awareness: Pairing Physical and Digital Security<br />
        • Pluralsight, Cyber Security Awareness: Phishing and Whaling<br />
        • Pluralsight, Cyber Security Awareness: Social Networking at Work<br />
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#designThinking">
        Design Thinking
      </button>
    </div>
    <div id="designThinking" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        • Pluralsight, Jonathan Mills: "Practical Design Patterns in JavaScript"
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#blogs">
        Blogs I like
      </button>
    </div>
    <div id="blogs" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        • Techbeacon, Peter Wayner: <a href="https://techbeacon.com/security/5-essential-software-engineering-practices" target="_blank">5 Essential Software Engineering Practices.</a><br />
        • UXdesign, Aj Justo: <a href="https://uxdesign.cc/the-knowns-and-unknowns-framework-for-design-thinking-6537787de2c5" target="_blank">The Knowns And Unknowns Framework for Design Thinking.</a><br />
        • Medium, Pete Mertz: <a href="https://medium.com/@MertzAlertz/what-the-hell-is-zone-js-and-why-is-it-in-my-angular-2-6ff28bcf943e" target="_blank">What the hell is Zone.js and why is it in my Angular 2?</a><br />
        • Angular in Depth, Nate Lapinski: <a href="https://blog.angularindepth.com/the-three-pillars-of-angular-routing-angular-router-series-introduction-fb34e4e8758e" target="_blank">The Three Pillars of Angular Routing. Angular Router Series Introduction.</a><br />
        • Netbasal, Netanel Basal: <a href="https://netbasal.com/why-its-important-to-unsubscribe-from-rxjs-subscription-a7a6455d6a02" target="_blank">Why It's Important to Unsubscribe from RxJS Subscription.</a><br />
        • Opensource.com, Michael Foord (RedHat): <a href="https://opensource.com/article/17/5/30-best-practices-software-development-and-testing" target="_blank">30 Best Practices for Software Development and Testing.</a>
      </div>
    </div>
  </div>
</div>
