<div class="jumbotron element-header_color">
  <p class="text-center text-large">Education/courses</p>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header element-header_color">
      <button class="btn card-link clickable-text_color" data-toggle="collapse" href="#frontEnd">
        Front End Development
      </button>
    </div>
    <div id="frontEnd" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        • Pluralsight, Angular: The Big Picture<br />
        • Codecademy, jQuery<br />
        • Codecademy, JavaScript<br />
        • Codecademy, HTML/CSS<br />
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header element-header_color">
      <button class="btn collapsed card-link clickable-text_color" data-toggle="collapse" href="#backEnd">
        Back End Development
      </button>
    </div>
    <div id="backEnd" class="collapse" data-parent="#accordion">
      <div class="card-body">
        • Harvard, CS50x<br />
        • Pluralsight, Play by Play: Understanding API Functionality Through Swagger<br />
        • Microsoft Virtual Academy, SQL Fundamentals<br />
        • Jamie King, C# Threading
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header element-header_color">
      <button class="btn collapsed card-link clickable-text_color" data-toggle="collapse" href="#security">
        Security
      </button>
    </div>
    <div id="security" class="collapse" data-parent="#accordion">
      <div class="card-body">
        • Pluralsight, Cyber Security Awareness: Malware Explained<br />
        • Pluralsight, Building Your Cyber Security Vocabulary<br />
        • Pluralsight, Cyber Security Awareness: The Importance of Identity Protection<br />
        • Pluralsight, Cyber Security Awareness: Social Engineering<br />
        • Pluralsight, Cyber Security While Traveling<br />
        • Pluralsight, Cyber Security Awareness: Pairing Physical and Digital Security<br />
        • Pluralsight, Cyber Security Awareness: Phishing and Whaling<br />
        • Pluralsight, Cyber Security Awareness: Social Networking at Work<br />
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header element-header_color">
      <button class="btn collapsed card-link clickable-text_color" data-toggle="collapse" href="#designThinking">
        Design Thinking
      </button>
    </div>
    <div id="designThinking" class="collapse" data-parent="#accordion">
      <div class="card-body">
        • Pluralsight, Jonathan Mills: "Practical Design Patterns in JavaScript"
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header element-header_color">
      <button class="btn collapsed card-link clickable-text_color" data-toggle="collapse" href="#blogs">
        Blogs I like
      </button>
    </div>
    <div id="blogs" class="collapse" data-parent="#accordion">
      <div class="card-body">
        • Medium, Aj Justo: "The Knowns And Unknowns Framework for Design Thinking."<br />
        • Medium: Pete Mertz: "What the hell is Zone.js and why is it in my Angular 2?"<br />
        • Medium: Nate Lapinski: "The Three Pillars of Angular Routing. Angular Router Series Introduction."<br />
        • Medium: Netanel Basal: "Why It's Important to Unsubscribe from RxJS Subscription."<br />
      </div>
    </div>
  </div>
</div>

<div class="footer">Proudly made and presented to you by Turquoise Fox © 2019</div>
