@import '../../styles.css';

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: left;
}

.logo {
    margin: 10%;
    width:100px;
    height: auto;
}

.title {
    display: none;
}

.title__subtitle {
    margin: 30px 0 60px 0;
}

.header-el { flex: 1 auto; }

@media all and (min-width: 768px) {
    .wrapper > * {
        padding: 10px;
        flex: 1 100%;
        text-align: center;
    }

    .navigation { order: 1; } 
    .logoWelcome { order: 3; }

    .logo {
        margin: 5%;
    }

    .title {
        display: block;
    }
}
