  <div class="jumbotron element-header_color">
    <p class="text-center text-large">Great to have you here!</p>
  </div>

  <div id="accordion">
    <div class="card">
      <div class="card-header element-header_color">
        <button class="btn card-link clickable-text_color" data-toggle="collapse" href="#collapseOne">
          2009
        </button>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
          What happened in 2009?
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header element-header_color">
        <button class="btn collapsed card-link clickable-text_color" data-toggle="collapse" href="#collapseTwo">
          2014
        </button>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          What happened in 2014?
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header element-header_color">
        <button class="btn collapsed card-link clickable-text_color" data-toggle="collapse" href="#collapseThree">
          2015
        </button>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          What happened in 2015?
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header element-header_color">
        <button class="btn collapsed card-link clickable-text_color" data-toggle="collapse" href="#collapseThree">
          2018
        </button>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          What happened in 2018?
        </div>
      </div>
    </div>
  </div>
