@import '../../styles.css';

/* .element-header_color {
    background-color: white;
    background-color: #7fffd429;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(20,140,96,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(20,140,96,1);
    box-shadow: 10px 10px 5px 0px rgba(20,140,96,1);
} */
