  <div id="accordion">
      <div class="card">
          <div class="card-header">
            <button class="btn card-link text-lgreen" data-toggle="collapse" href="#ordina">
              Ordina 2019
            </button>
          </div>
          <div id="ordina" class="collapse show" data-parent="#accordion">
            <div class="card-body text-dgreen">
              Started on Januari 1st at Ordina as Software Engineer III. Learning while looking for a nice assignment. Also, developing an Angular app to use at an event of Ordina.
            </div>
          </div>
        </div>
    <div class="card">
      <div class="card-header element-header_color">
        <button class="btn card-link text-lgreen" data-toggle="collapse" href="#achmea">
          Achmea (for Sogeti) 2017 - 2018
        </button>
      </div>
      <div id="achmea" class="collapse" data-parent="#accordion">
        <div class="card-body text-dgreen">
          Innovation is of paramount importance to this large insurance company. I have built beautiful apps in a dynamic scrum team using, among other things, JavaScript and AngularJS and for the last year Angular and Typescript also. Scalable apps, by using components that I have built or were already there.<br /><br />
          Tasks:<br />
          • Develop / build web-based apps for the website of Centraal Beheer, which were designed by the UX designers within the Scrum team BAU<br />
          • Implement new API in the apps<br />
          • Maintain and extend existing apps<br />
          • Release of OTAP<br />
          • PR's<br />
          • Write, expand and optimize Unit tests (Jasmine, PhantomJS)<br />
          • Consulting<br /><br />
          Result: various scalable applications. I am most proud of the Digitaal Deelname Form, an application that eliminates the need to print out a large PDF form by offering a digital version instead to the customer.<br /><br />
          Methods & Techniques: AngularJS, Angular, BEM, Ajax, HTML5, CSS3, JavaScript, Typescript, NPM, Responsive Software Development, Bootstrap, jQuery, API, Jasmine, PhantomJS, Gulp, Node.js, Wercker, Swagger, Visual Studio Code.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header element-header_color">
        <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#raet">
          RAET (for Sogeti) 2016
        </button>
      </div>
      <div id="raet" class="collapse" data-parent="#accordion">
        <div class="card-body text-dgreen">
          Together with a Belgian partner RAET developed an HR software application for the full processing of salary administration for the Belgian market. My role was Frontend Software Developer within a complex international Scrum team.<br /><br />
          Tasks:<br />
          • Software development for the partition Timesheet (calendar functionality, hour registration, schedule registration, language- and geographical features and data capture for payroll administration purposes)<br />
          • Bug fixing<br />
          • Write, expand and optimize Unit tests (Jasmine, PhantomJS)<br />
          • Reducing technical debt, logged by SonarQube<br />
          • Scrum<br />
          • Consulting<br /><br />
          Result: a solid base application for expanding development for the team in Spain.<br /><br />
          Methods & Techniques: AngularJS, HTML5, CSS3, JavaScript, NPM, SonarQube, Jasmine, Karma, Gulp, JSON, Visual Studio, Scrum.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header element-header_color">
        <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#sogeti">
          CP 2013 - 2015
        </button>
      </div>
      <div id="sogeti" class="collapse" data-parent="#accordion">
        <div class="card-body text-dgreen">
          While still teaching at my vocal school, I started working in November 2013 at a small local e-commerce company CP, that builds web shops for the medium and small segment.<br /><br />
          Task: <br />
          • Frontend development for web shops (Bootstrap, CSS, JavaScript)<br />
          • Research new developments (at that time AngularJS)<br />
          • Bug fixing<br />
          • Backend development (SQL, C#)<br /><br />
          Result: maintaining already built websites, fixing bugs and making a mock-up for healthcare, using AngularJS.<br /><br />
          Methods & Techniques: HTML, CSS, AngularJS, Visual Studio, Bootstrap, JavaScript, C#, MVC .Net, SQL.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header element-header_color">
        <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#vocalschool">
          Vocal School website 2009 - 2014
        </button>
      </div>
      <div id="vocalschool" class="collapse" data-parent="#accordion">
        <div class="card-body text-dgreen">
          I earned my money with singing until the summer of 2014. In September 2009 I started my own vocal school which also had to have a website.<br /><br />
          Tasks:<br />
          • Building the website (WordPress)<br />
          • Manage content<br />
          • Formulate and try out marketing strategies<br />
          • Set up advertising actions (Google Adwords)
          • Teaching singing lessons<br /><br />
          Result: a nice website that reached the target group well. And as a result the vocal school became a success.<br /><br />
          Methods & Techniques: WordPress, Google Adwords.
        </div>
      </div>
    </div>
  </div>
