<nav class="navbar navbar-expand-sm justify-content-center">
  <ul class="navbar-nav">
    <li class="nav-item">
      <button type="button" class="btn" routerLink="/about-me" routerLinkActive="active">About Me</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn" routerLink="/tech-specs" routerLinkActive="active">Tech Talk</button>
    </li>
    <li class="nav-item">
        <button type="button" class="btn" routerLink="/feedback" routerLinkActive="active">Feedback</button>
    </li>
    <li class="nav-item">
      <button type="button" class="btn" routerLink="/contact" routerLinkActive="active">Contact</button>
    </li>
  </ul>
</nav>