<div class="jumbotron element-header_color">
  <p class="text-center text-large">Reviews</p>
</div>

<div id="accordion">
  <div class="card">
    <div class="card-header element-header_color">
      <button class="btn card-link clickable-text_color" data-toggle="collapse" href="#rianne">
        Rianne Epping @ Centraal Beheer (Achmea)
      </button>
    </div>
    <div id="rianne" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        Rianne's text here.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header element-header_color">
      <button class="btn collapsed card-link clickable-text_color" data-toggle="collapse" href="#robertDL">
        Robert de Loor @ Centraal Beheer (Achmea)
      </button>
    </div>
    <div id="robertDL" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Robert's text here.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header element-header_color">
      <button class="btn collapsed card-link clickable-text_color" data-toggle="collapse" href="#paul">
        Paul Valstar @ Centraal Beheer (Achmea)
      </button>
    </div>
    <div id="paul" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Paul's text here.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header element-header_color">
      <button class="btn collapsed card-link clickable-text_color" data-toggle="collapse" href="#jaimy">
        Jaimy Dix
      </button>
    </div>
    <div id="jaimy" class="collapse" data-parent="#accordion">
      <div class="card-body">
        Jaimy's text here.
      </div>
    </div>
  </div>
</div>

<div class="footer">Proudly made and presented to you by Turquoise Fox © 2019</div>

