<div id="accordion">
  <div class="card">
    <div class=" card-header">
      <button class="btn card-link text-lgreen" data-toggle="collapse" href="#rianne">
        Rianne Epping, UX Specialist @ Centraal Beheer (Achmea)
      </button>
    </div>
    <div id="rianne" class="collapse show" data-parent="#accordion">
      <div class="card-body text-dgreen">
        "Firstly, I would like to say that I think it is super impressive that Sylvia is a self-taught Frontend Developer.
         Also, I like the fact that she not only focuses on the work someone does, but in addition on how someone feels. 
         For example, she often asks the question "how do you feel about this?" This gives you focus on completing tasks and the 'well being' 
         of the team members. Sylvia operates with a human heart and is a helpful and enthusiastic team member."
      </div>
    </div>
  </div>
  <div class="card">
    <div class=" card-header">
      <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#robertDL">
        Robert de Loor, CRO Specialist @ Centraal Beheer (Achmea)
      </button>
    </div>
    <div id="robertDL" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        "Sylvia is a real go-getter. I never see her giving up on anything she picked up. And great to see how she developed into a Senior Developer. 
        I appreciate her accuracy and her attention to detail. Three key words that describe Sylvia: precision, involved and a go-getter."
      </div>
    </div>
  </div>
  <div class="card">
    <div class=" card-header">
      <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#paul">
        Paul Valstar, UX Specialist & Scrummaster @ Centraal Beheer (Achmea)
      </button>
    </div>
    <div id="paul" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        "Sylvia analises the requirements of stories she works on very accurately. 
        I therefore consider her a specialist and a detailed professional. 
        I feel I can really count on her. Sylvia strives for perfection, has compassion and has a lot to offer."
      </div>
    </div>
  </div>
  <!-- <div class="card">
    <div class=" card-header">
      <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#jaimy">
        Jaimy Dix
      </button>
    </div>
    <div id="jaimy" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        Jaimy's text here.
      </div>
    </div>
  </div> -->
</div>
