<div id="accordion">
  <div class="card">
    <div class=" card-header">
      <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#jaimy">
        <em>"I appreciate her integrity, her ability to ask the right questions and to uphold hight standards for the
          work at hand."</em><br />
        Jaimy Dix - User Experience & Interface Design Specialist @ <a href="http://www.dixreclamebureau.nl/" target="_blank"
          class="card-link">Dix Reclamebureau</a> for Centraal Beheer (Achmea)
      </button>
    </div>
    <div id="jaimy" class="collapse show" data-parent="#accordion">
      <div class="card-body text-dgreen">
        I appreciate her integrity, her ability to ask the right questions and to uphold hight standards for the work
        at hand.
        Questions like: “Why do we need this?” and “What do we need to accomplish our goal?” The work I have seen of
        Sylvia was
        the end product and I would rate this as outstanding. Further more, I admire her transformation from singer to
        software developer.
        For this, one needs a lot of courage and effort. Chapeau.
      </div>
    </div>
  </div>
  <div class="card">
    <div class=" card-header">
      <button class="btn card-link text-lgreen" data-toggle="collapse" href="#rianne">
        <em>"Sylvia operates with a human heart and is a helpful and enthusiastic team member."</em><br />
        Rianne Epping, User Experience Specialist & Designer @ Centraal Beheer (Achmea)
      </button>
    </div>
    <div id="rianne" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        "Firstly, I would like to say that I think it is super impressive that Sylvia is a self-taught Frontend
        Developer.
        Also, I like the fact that she not only focuses on the work someone does, but in addition on how someone feels.
        For example, she often asks the question "how do you feel about this?" This gives you focus on completing tasks
        and the 'well being'
        of the team members. Sylvia operates with a human heart and is a helpful and enthusiastic team member."
      </div>
    </div>
  </div>
  <div class="card">
    <div class=" card-header">
      <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#robertDL">
        <em>"Three key words that describe Sylvia: precision, involved and a go-getter."</em><br />
        Robert de Loor, Conversion Rate Optimization Specialist @ Centraal Beheer (Achmea)
      </button>
    </div>
    <div id="robertDL" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        "Sylvia is a real go-getter. I never see her giving up on anything she picked up. And great to see how she
        developed into a Senior Developer.
        I appreciate her accuracy and her attention to detail. Three key words that describe Sylvia: precision,
        involved and a go-getter."
      </div>
    </div>
  </div>
  <div class="card">
    <div class=" card-header">
      <button class="btn collapsed card-link text-lgreen" data-toggle="collapse" href="#paul">
        <em>"Sylvia strives for perfection, has compassion and has a lot to offer."</em><br />
        Paul Valstar, UX Specialist & Scrummaster @ Centraal Beheer (Achmea)
      </button>
    </div>
    <div id="paul" class="collapse" data-parent="#accordion">
      <div class="card-body text-dgreen">
        "Sylvia analises the requirements of stories she works on very accurately.
        I therefore consider her a specialist and a detailed professional.
        I feel I can really count on her. Sylvia strives for perfection, has compassion and has a lot to offer."
      </div>
    </div>
  </div>
</div>