/* You can add global styles to this file, and also import other style files */
body {
    background-color: #e0eae8;
}

.text-lgreen {
    color:#4ab09a;
}

.text-dgreen {
    color: #457268;
}

.element-header_color {
    background-color: unset;
}
